#home_search_from {
    position: absolute;
    top: 25%;
    width: 100%;

    h1 {
        color: $white;
        text-align: center;
        font-size: 75px;
        font-weight: 600;
    }

    p {
        color: $white;
        text-align: center;
        font-size: 20px;
    }
}

#home_main_link {
    padding: 3% 0 2%;

    a:hover {
        text-decoration: none;
    }

}

.main_link_card {
    padding: 20px;
    border: 1px solid $border_color;
    background: $white;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: background-color 0.6s ease-out;
    -webkit-transition: background-color 0.6s ease-out;
    -moz-transition: background-color 0.6s ease-out;
    -ms-transition: background-color 0.6s ease-out;
    -o-transition: background-color 0.6s ease-out;

    h2 {
        font-size: 22px;
        transition: 0.6s ease-out;
        -webkit-transition: 0.6s ease-out;
        -moz-transition: 0.6s ease-out;
        -ms-transition: 0.6s ease-out;
        -o-transition: 0.6s ease-out;
    }

    p {
        margin-bottom: 5px;
        font-size: 16px;
        transition: 0.6s ease-in-out;
        -webkit-transition: 0.6s ease-in-out;
        -moz-transition: 0.6s ease-in-out;
        -ms-transition: 0.6s ease-in-out;
        -o-transition: 0.6s ease-in-out;
    }

    a {
        color: $secandery_color;
        transition: 0.6s ease-out;
        -webkit-transition: 0.6s ease-out;
        -moz-transition: 0.6s ease-out;
        -ms-transition: 0.6s ease-out;
        -o-transition: 0.6s ease-out;
    }


}

.main_link_card:hover {
    background: $primary_color;
    border: 1px solid $white;

    h2,
    p,
    a {
        color: $white;
    }
}

#slider_map {
    padding: 1% 0;

    .carousel {
        max-height: 400px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }

    hr {
        margin-top: 1.8rem;
        margin-bottom: 1.8rem;
        border-top: 1px solid $border_color;
    }

    h2 {
        color: $secandery_color;
        font-size: 30px;
    }

    p {
        font-size: 18px;
        font-weight: 300;
    }
}

#home_property_tabs {
    padding: 0 0 4%;

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active {
        color: $secandery_color;
        background-color: $white;
        border-color: $white;
    }

    .nav-tabs .nav-link:focus,
    .nav-tabs .nav-link:hover {
        border-color: $white;
    }

    .nav-tabs {
        border-bottom: 1px solid $white;
        margin-bottom: 0px;
    }

    .nav-tabs .nav-link {
        color: $gray_light;
        font-size: 22px;
        padding: .5rem 2rem .5rem 0;
    }

    li {
        max-width: 23.5%;
        margin: 1% 1% .5% 0;
    }
}

#home_post_ad {
    padding: 6% 0;
    background: no-repeat url("../img/bg_ad.jpg");
    color: $white;
    text-align: center;

    h2 {
        color: $white;
        text-align: center;
        font-size: 60px;
    }

    p {
        color: $white;
        text-align: center;
        font-size: 18px;
    }

    .btn {
        font-size: 30px;
        padding: 0.5rem 4rem;
        margin-top: 20px;
    }
}

#why_rightplace {
    padding: 6% 0;

    h2 {
        font-size: 45px;
        color: $secandery_color;
        text-align: center;
    }

    p {
        margin-bottom: 30px;
        text-align: center;
        padding: 0 8px;
        line-height: 29px;
        font-size: 18px;
    }

    .media {
        p {
            text-align: left;
            color: $gray_light;
            font-size: 18px;   
            padding: 0 30px 0 0;
            line-height: 22px;
            font-size: 16px;
        }

        img {
            padding: 5px;
            max-width: 75px;
        }
    }
}

#quick_call {
    padding: 2% 0;
    background: $primary_color;
    text-align: center;
    a{
        font-size: 40px;
        color: $white;
        transition: 0.6s;
        -webkit-transition: 0.6s;
        -moz-transition: 0.6s;
        -ms-transition: 0.6s;
        -o-transition: 0.6s;
}
}

#home_testamony {
    padding: 6% 0;
    background: #FAFAFA;

    h2 {
        font-size: 45px;
        color: $secandery_color;
        text-align: center;
    }
}