#userlogin_main-site {
    padding:10% 0;
    height: 100vh;

    .navbar-brand {
        padding: 15px;

        img {
            max-width: 120px;
        }
    }
.border-right-col{
    border-right: 1px solid $border_color;
}
    .login_page_side {
    
        padding: 0 40px;
        height: 100%;
        text-align: center;

        img {
            bottom: 0;
            margin-top: 15%;
        }

        h2 {
            font-size: 30px;
            color:$primary_color;
        }

        P {
            font-size: 14px;
        }

        .btn {
            display: inline-block;
            max-width: 170px;
            width: 100%;
        }
    }


    .login_page_from {
        padding: 20px 60px;
        h1{
            text-align: center;
            margin-bottom: 20px;
            color:$primary_color;
        }
        .social_btn {
            text-align: center;
        }
        p{
            text-align: center;
            margin-top: 20px;
            font-size: 14px;
        }
        form button{
            display: block;
            max-width: 170px;
            width: 100%;
            margin: auto;
        }
        .foget_password{
            margin: 10px 0;
            color: $black;
            margin-bottom: 20px;
            display: block;
            font-size: 14px;
            transition: 0.4s;
        }
        .foget_password:hover{
            color: $primary_color;
            text-decoration: none;
        }
        
    }


}