#homepage_slider {
        height: 75vh;
        overflow: hidden;
        position: relative;width: 100%;
        background: #000;
    img{
        width: 100%;
        opacity: 0.7;
    }
}


#propety_search_form {
    background: $secandery_color;
    padding: 1% 0;

    .form-group {
        color: #909090;
        margin-bottom: 0;
    }

    .btn {

        padding: .7rem 2rem;
        font-size: 1rem;
        margin: 0 4px;
    }
    .form-control {
        color: #909090;
        height: calc(1.9em + 1rem + 2px);
    }
}

