.nav_home {
    position: absolute;
    z-index: 999;
    width: 100%;
}

a.navbar-brand img {
    max-width: 155px;
}

.nav_row_1 {
    width: 20%;
}

.nav_row_two {
    width: 60%;
}

.nav_row_tree {
    width: 20%;
}

.nav {
    width: 100%;
}


.nav_home .nav_row_two a, .nav_home .nav_row_tree a {
    color: $white;
    font-weight: 400;
    font-size: 18px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

.nav_home .nav_row_two a:hover, .nav_home .nav_row_tree a:hover  {
    color:darken($white,5%);
}


.nav_row_two a,.nav_row_tree a {
    color: $black;
    font-weight: 400;
    font-size: 18px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

 .nav_row_two a:hover, .nav_row_tree a:hover  {
    color:darken($black,5%);
}


.page_nav_color{
    color: $white!important;
}

.search_nav{
    padding: 3% 0 0.5%; 

    .dropdown {
        display: inline;
    }
    .search_nav_right {
     text-align: right;
     a{
        color:$secandery_color;  
     }
    }
    .btn{
    padding: 0;
    color:$gray_light;
    }
    .btn.focus, .btn:focus {
        outline: 0;
        box-shadow: 0 0 0 0 rgba(0,123,255,.25);
    }
    span{
        color:$gray_light;  
    }
    a {
        margin: 0 1% 0 0;
        color:$gray_light;
        span {
            padding: 0 1%;
        }
    }
    a:hover{
        text-decoration: none;
    }
}