.property_card {
    border: 1px solid $border_color;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    background: #f7f7f7;

    .property_img {
        position: relative;

        .property_cover {
            max-height: 190px;
            overflow: hidden;
            border-radius: 0 0 6px 6px;
            -webkit-border-radius: 0 0 6px 6px;
            -moz-border-radius: 0 0 6px 6px;
            -ms-border-radius: 0 0 6px 6px;
            -o-border-radius: 0 0 6px 6px;

            img {
                width: 100%;
                height: auto;
            }
        }

        .lebel_one {
            background: $secandery_color;
            color: $white;
            font-size: 12px;
            padding: 1px 10px;
        }

        .lebel_two {
            background: $red_light;
            color: $white;
            font-size: 12px;
            padding: 1px 10px;

        }

        .property_label {
            position: absolute;
            top: 0;
            z-index: 99;
            padding: 5px;
        }

        figure {
            background: $primary_color;
        }

        figure img {
            opacity: 1;
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
        }

        figure:hover img {
            opacity: .8;
        }
    }

    .property_navlink {
        padding: 5px 10px;
        color: $secandery_color;

        a {
            color: $secandery_color;
            font-size: 12px;
        }

        span {
            font-size: 12px;
        }

        a:hover {
            text-decoration: none;
        }

        .wishlist {
            text-align: right;
            float: right;
            font-size: 16px;
        }

    }

    .property_body {
        padding: 0 10px;

        h3 {
            font-size: 22px;
            width: 100%;
            margin-bottom: 5px;

            span {
                font-size: 15px;
            }
        }

        a {
            color: $gray_light;
            font-size: 14px;

            img {
                max-width: 15px;
            }
        }

        a:hover {
            text-decoration: none;
        }

        h4 {
            font-size: 12px;
            text-align: right;
            display: inline-block;
            float: right;
            color: $gray_light;
            margin-top: 5px;
        }


        hr {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
    }


    .property_agent {
        padding: 0 10px 10px 10px;
        display: inline-flex;
        width: 93%;
        position: relative;

        .property_agent_img {
            max-width: 40px;
            max-height: 40px;
            width: 40px;
            height: 40px;
            overflow: hidden;
            border: 1px solid $border_color;
            border-radius: 100px;
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            -ms-border-radius: 100px;
            -o-border-radius: 100px;
            margin-right: 12px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        h3 {
            font-size: 16px;
            font-weight: 300;
            margin-top: 9px;
        }

        .property_agent_contact {
            position: absolute;
            right: 0;
            margin-top: 6px;

            a {
                img {
                    padding: 2px;
                    max-width: 22px;
                }
            }

            a:hover {
                text-decoration: none;
            }
        }
    }
}



.review_blog {
    text-align: center;

    .review_blog_img {
        width: 90px;
        height: 90px;
        border: 2px solid $primary_color;
        border-radius: 100px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -ms-border-radius: 100px;
        -o-border-radius: 100px;
        overflow: hidden;
        margin: 20px auto;

        h2 {
            text-align: center;
        }

        img {
            width: 100%;
        }

    }
    .review_blog_client {
        h3 {
            font-size: 18px;
            font-style: italic;
            margin-bottom: 5px;  
        }

        p {
            font-size: 12px;
            font-style: italic;
        }
    }
}