.property_single_page_titel {
    h1 {
        font-weight: 900;
        margin-bottom: 5px;
    }

    p {
        margin-bottom: 20px;
    }
}

.property_single_gallery {
    width: 100%;
    display: flex;
    max-height: 300px;
    height: 100%;
    overflow: hidden;
    margin-bottom: 20px;


    .property_single_gallery_right {
        width: 50%;
        border-radius: 10px 0 0 10px;
        padding: 0 0.5% 0 0;


        img {
            width: 100%;
            height: auto;
        }
    }

    .property_single_gallery_left {
        width: 50%;
        display: flex;

        .property_single_gallery_left_l {
            width: 50%;
            height: 100%;
            padding: 0 1% 0 0;

            img {
                width: 100%;
                height: auto;
            }

            .property_single_gallery_left_l_t {
                height: 50%;
                overflow: hidden;
                display: inline-flex;

                img {
                    width: 100%;
                    height: auto;
                }

            }

            .property_single_gallery_left_l_r {
                height: 50%;
                overflow: hidden;
                display: inline-flex;

                img {
                    width: 100%;
                    height: auto;
                }

            }
        }

        .property_single_gallery_left_r {
            width: 50%;
            height: 100%;

            img {
                width: 100%;
                height: auto;
            }

            .property_single_gallery_left_r_t {
                height: 50%;
                overflow: hidden;
                display: inline-flex;

                img {
                    width: 100%;
                    height: auto;
                }

            }

            .property_single_gallery_left_r_r {
                height: 50%;
                overflow: hidden;
                display: inline-flex;

                img {
                    width: 100%;
                    height: auto;
                }

            }
        }
    }
}

.property_single_nav{
    margin-bottom: 15px;
    a{
        color: $black;
    }
    a:hover{
       text-decoration: none; 
    }
}

.property_single_price{
    display: inline-flex;
    width: 100%;
   h2{
       font-weight: 900;
       text-align: left;
       width: 80%;
   } 
   h3{
     text-align: right;  
     width: 20%;
     font-size: 18px;
     color: $red_light;
     margin-top: 5px;

   }
}

.property_single_body {
    margin: 10px 0;
    p{

    }
}