.nav_btn {
    background: $red_light;
    border: 0.6px solid $white;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    color: $white;
    font-weight: 400;
    font-size: 18px;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}

.light_btn {
    background: $primary_color;
    color: $white;
}

.light_btn:hover {
    background: darken($primary_color, 5%);
    color: $white;
}

.nav_btn:hover {
    background: darken($red_light, 3%);
}


.home_input {
    background: rgba(26, 160, 227, 0.38);
    padding: 12px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;

    .form-group {
        color: #909090;
        margin-bottom: 0;
    }

    .btn {

        padding: .7rem 2rem;
        font-size: 1rem;
        margin: 0 4px;
    }
    .form-control {
        color: #909090;
        height: calc(1.9em + 1rem + 2px);
    }
}

.outline_btn{
    background: transparent;
    border: 2px solid $white;
    color: $white;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;

}

.outline_btn:hover{
    color: $primary_color;
    background: $white;
}

.max_min_row {
    display: flex;
    p {
        color: #ffffff;
        margin: 10px;
        font-weight: 400;
    }
}

.butn_row {
    display: flex;

    .btn {
        padding: .7rem 1rem!important;
    }
}

.social_btn {
  button{
      padding:13px;
      border: 1px solid $border_color;
      margin: 5px;
      border-radius: 100px;
      width: 50px;
      height: 50px;
      text-align: center;
  }
  button:hover{
      background-color: $gray_light;
      color: $white;
  }
}