@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}


P,h1,h2,h3,h4,h5,h6,a,li,span,a {
  font-family: 'Roboto', sans-serif;
}

p{
  font-weight: 300;
}
