// Color Variables

$primary_color:#1AA0E3;
$secandery_color:#1072BC;
$white:#FFFFFF;
$black:#242424;
$gray_light:#707070;
$red_light:#E11A3F;
$border_color:#dadada;

$font-family:'Roboto', sans-serif;


h1,h2,h3,h4,h5,h6{
    color: $black;
  }
  
  p{
  color: $gray_light;
  }